<div class="header">

    <div class="container">
        <header id="header">

            <!--Logo -->
            <img src="https://imgs.abduzeedo.com/files/articles/logo-design-ice-cream2/vintage_frozen_custard_logo.png"
                alt="Company-Logo" id="header-img">

            <!--Navigation-->
            <nav id="nav-bar">
                <ul>
                    <li class="nav-link"><a routerActive='active' routerLink='/landing-home'>Home</a></li>
                    <li class="nav-link"><a routerLink="/order-details"> MY orders</a></li>
                    <li class="nav-link"><a routerLink="/shopping-cart"> Carts [{{cartsData.length}}]</a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>