.table-wrapper {
	font-family: 'Theinhardt', sans-serif;
	font-size: 0.875rem;
	line-height: 1.4;
	max-width: 100%;
	margin: 0 auto;
}

.table-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	padding: 1rem;
}

.table-row:nth-of-type(2n+1) {
  background: #f1f1f1;
}

.table-header {
	background-color: #33A889 !important;
	color: white;
	
}

.col-wrapper {
	display: flex;
	/* // flex: 1 0; */
	flex-direction: row;
}

.table-col {
	flex: 0 0;
	vertical-align: top;
}

.order-date-number-po {
	flex: 0.5 0;
	width: 100+150+100px;
	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
}

.order-date { 
	width: 100px; 
	flex: 0.5 1; 
}

.order-number { 
	width: 150px; 
	flex: 0.5 1; 
	font-weight: 500; 
}

.order-po { 
	width: 100px; 
	flex: 0.5 1; 
}

.order-year-model-customer {
	flex: 1 0;
	width: 400+100+100px;
	@media screen and (max-width: 1200px) {
		flex-direction: column;
		width: 200px;
		div { flex-grow: 0;}
	}
}

.order-year { 
	width: 100px; 
	flex: 0.5 1; 
	padding-right: 0.5rem; 
}

.order-model { 
	width: 100px; 
	flex: 0.5 1; 
}

.order-customer { 
	width: 200px; 
	flex: 2 0; 
}

.order-status-signed {
	flex: 0 1;
	width: 100+100px;
	@media screen and (max-width: 1200px) {
		flex-direction: column;
		width: 100px;
		div { flex-grow: 0;}
	}
}

.order-status { 
	width: 100px; 
	flex: 1 0; 
}
.order-signed { 
	width: 100px; 
	flex: 1 0; 
}

.order-actions {
	flex: 0 1;
	width: 100+100px;
}

.order-sign { 
	width: 100px; 
	flex: 1 0; 
}
.order-view { 
	width: 100px; 
	flex: 1 0; 
}

.order-det{
    margin:60px 0px;
}

.heading {
    display: flex;
    align-items: center;
    width: 100%;
}
.heading span{
	color: #33A889;
	font-size:20px;
	text-align: center;
    width: 50%;
}
